{% extends 'base.html.twig' %}

{% block body %}

        <h2>{{'Blog'|trans}}</h2>
        {% include 'blog/hashtags/search.html.twig' %}


{#        {% include 'blog/topic/table.html.twig' with {#}
{#            'topics': topics|slice(0, max_jobs_on_homepage)#}
{#        } only %}       #}

        <div class="topics-container">
            {% include 'blog/topic/table.html.twig' with {'topics': topics} only %}
        </div>

    {{ encore_entry_script_tags('searchTag') }}

{% endblock %}