{% extends 'admin/base.html.twig' %}

{% block body %}
{#    <h1>{{'Edit comment'|trans}} {{ comment.name }}</h1>#}
    {% include 'admin/blog/comments/_form.html.twig' with {'form': form} only %}

{% endblock %}