{% include 'base.html.twig' %}
{% block body %}
    <div class="media" style="margin-top: 60px; margin-left: 300px">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h2>{{ error_message }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}