{#{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{#   {{ form_widget(form) }}#}

<form method="get">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Type..." name="search">
{#        <input type="hidden" class="form-control" placeholder="Type..." name="qw" value="somestring">#}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<br>



{#{{ form_end(form) }}#}